{% load browserid %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fat Burn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
    {% browserid_css %}
</head>
<body>
{% browserid_info %}
<div class="bg"></div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fat Burn</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" >
              <li><a href="/home/" >Home</a></li>
              {% if user.is_authenticated %}
                <li><a href="/startTheBurn/">Start The Burn</a></li>
              {% else %}
                <li><a href="/loginRequired/">Start The Burn</a></li>
              {% endif %}
            <li><a href="/about/">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_superuser %}
                  <li><a href="/admin/">admin</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                                    <li id="username">Logged in user: {{ user.first_name }}</li>
                  <li><a href="/userDetails/">Update Details</a></li>
                  <li>{% browserid_logout text='Logout' %}</li>
              {% else %}
                  <li>{% browserid_login text='Login' color='dark' %}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 jumbotron">
            <div class="text-center">
                <h1>{% block header_text %}{% endblock %}</h1>
            </div>
            <p class="lead"></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/fatburn.js"></script>
    {% browserid_js %}
</body>
</html>